.App {
  text-align: center;
}

.header {
  display: flex;
  /* justify-content: center; */
  /* padding: 10px; */
}

.header__network {
  font-size: 10px;
  font-family: Sen;
  text-align: left;
  flex: 0 0 30%;
  align-self: center;
  padding-left: 10px;
  box-sizing: border-box;
  flex: 0 0 30%;
}

.header-address {
  right: 10px;
  top: 7px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
}

@media (min-width: 768px) {
  .header-address {
    position: absolute;
    grid-template-rows: 1fr 1fr;
  }
}

.address-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
  grid-column: 2;
  grid-row: 1;
}

.disconnect-button {
  grid-column: 2;
}

.header-address-metamask {
  grid-row: 2;
  grid-column: 2;
  width: 30%;
  justify-self: flex-end;
}

.header-address-metamask * {
  stroke: white !important;
  fill: black !important;
}

.header > .logo {
  width: 50px;
  flex: 0 0 40%;
  /* padding: 10px; */
}

.header > .logo > svg {
  width: 50px;
}

.container-of-containerz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 10%; */
  align-items: center;
  /* position: relative; */
  position: absolute;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  z-index: -1;
}

.override-height {
  height: inherit !important;
}

.override-center {
  justify-content: start;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  color: red;
  font-size: 40px;
  overflow: visible !important;
  width: 350px;
  height: 250px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #000000;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: black;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
