.upper-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.to-who {
  height: 37%;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.to-arrow {
  position: absolute;
  font-size: 30px;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  font-weight: bold;
}
