.upper-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 250px;
}

.to-who {
  height: 37%;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
}

.to-arrow {
  position: absolute;
  font-size: 30px;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .upper-container {
    min-height: 350px;
  }

  .to-arrow {
    height: 200px;
    width: 200px;
    margin-top: -50px;
  }

  .to-who {
    /* height: unset; */
    text-align: left;
    font-size: 70px;
  }
}

.sending path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
