.discover__name {
  font-size: 40px;
  font-weight: bold;
  word-break: break-all;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
}

.discover__prompt {
  font-size: 20px;
  width: 80%;
  margin: 0px auto 20px;
  font-weight: bold;
}
