.nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  margin: auto;
  display: block;
  background: linear-gradient(0deg, white, lightgrey);
  transition: height 1s;
  overflow: visible !important;
}

.nav-container > svg {
  max-width: 500px;
}

.nav-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background: black;
  bottom: 5px;
  border-radius: 40px;
  left: 5px;
  transition: background 1s, bottom 1.05s, left 1s, border-radius 0.1s;
  cursor: pointer;
}

#NAV * {
  fill: black;
  stroke: black;
  transition: fill 1000ms;
}

#NAV .active * {
  fill: white;
  stroke: white;
}

.web3-connect {
  position: absolute;
  bottom: 17px;
  right: 1%;
  width: 200px;
  font-size: 17px;
  margin-left: -100px;
  transition: bottom 1000ms;
  height: 50px;
  width: 250px;
  padding: 0px;
}

#EGG-NAV:hover,
#WORLD:hover,
#COLLECTION:hover {
  cursor: pointer;
}
